/bukkit-banfromworlds-plugin/target/
/bukkit-test-plugin/target/
/bukkit-test-plugin_2/target/
/bukkit-pollen-plugin/target/
/bukkit-rightclickgivesitem-plugin/target/
/bukkit-playcatch-plugin/target/